body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: blue;
  text-align: center;
  color: #010101;
 
}
h1 {
  margin-bottom: 0.5em;
  border: 2px solid white;
  padding: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 5px;
}
#incomeBtn
{
  background-color: green;
  color: white;
}
#expenseBtn
{
  background-color: red;
  color: white;
}
label {
  display: inline-block;
  width: 80px;
}
input, select {
  margin-bottom: 10px;
}
#transactionList {
  margin-top: 1em;
  list-style: none;
  padding: 0;
}
#transactionList li {
  margin: 5px 0;
  list-style: none;
}
.income {
  color: green;
}
.expense {
  color: red;
}